/* src/components/Home/Home.css */

.home-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .button-container {
    margin-top: 20px;
  }
  h2{
    color: #0A367F
  }
  .button-container button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: #CC254C;
    border: none;
    border-radius: 45px;
  }
  .button-container button:hover {
    opacity: 0.7;
  }
  
  .herobtn{
    font-size: 1.5rem;
  }